.main {
  max-width: 972px;
  margin-top: 5%;
}

.card {
  height: 18rem;
  border-radius: 0;
  margin-bottom: 50px;
}

.card-body.bgImageOne {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
              rgba(0,0,0,0.3) url('images/runner.jpg') no-repeat center;
  background-size: cover;
}

.card-body.bgImageTwo {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
              rgba(0,0,0,0.3) url('images/karate.jpg') no-repeat center;
  background-size: cover;
}

.card-body.bgImageThree {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
              rgba(0,0,0,0.3) url('images/tent.jpg') no-repeat center;
  background-size: cover;
}

.card-body.bgImageFour {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
              rgba(0,0,0,0.3) url('images/mountainbike.jpg') no-repeat center;
  background-size: cover;
}

.st-paragraph-header {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  color: #0082c3;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  -ms-transform: rotate(-5deg); /*IE9*/
  -webkit-transform: rotate(-5deg); /*Safari*/
  transform: rotate(-5deg);
}

.st-product-header {
  font-family: "Roboto Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  font-variant: small-caps;
  color: #d3d3d3;
  text-align: center;
  -ms-transform: rotate(-5deg); /*IE9*/
  -webkit-transform: rotate(-5deg); /*Safari*/
  transform: rotate(-5deg);
}

.card-title {
  font-variant: small-caps;
  color: #0082C3;
  text-align: center;
  -ms-transform: rotate(-5deg); /*IE9*/
  -webkit-transform: rotate(-5deg); /*Safari*/
  transform: rotate(-5deg);
}

.card-text {
  font-size: 16px;
  font-variant: small-caps;
  color: #575D5E;
  text-align: center;
  -ms-transform: rotate(-5deg); /*IE9*/
  -webkit-transform: rotate(-5deg); /*Safari*/
  transform: rotate(-5deg);
}

.colorBar {
  background-color: #0082C3;
  height: 10%;
}

.color-overlay {
  background-color: #0082C3;
  -ms-transform: skewY(5deg); /*IE9*/
  -webkit-transform: skewY(5deg); /*Safari*/
  transform: skewY(5deg);
  width: 100%;
  height: 10%;
  top: 85%;
  position: absolute;
}

.color-overlay-reversed {
  background-color: rgba(0, 130, 195, 0.3);
  -ms-transform: skewY(-5deg); /*IE9*/
  -webkit-transform: skewY(-5deg); /*Safari*/
  transform: skewY(-5deg);
  width: 100%;
  height: 12%;
  top: 83%;
  position: absolute;
}

a:hover{
  text-decoration: none;
}

.enlarge {
  transition: all .3s ease-in-out;
}

.enlarge:hover {
  transform: scale(1.1);
}


/*css media queries*/

@media only screen and (max-width: 768px) {
  .colorBar {
    background-color: #0082C3;
    height: 20%;
  }

  .color-overlay {
    background-color: #0082C3;
    -ms-transform: skewY(5deg); /*IE9*/
    -webkit-transform: skewY(5deg); /*Safari*/
    transform: skewY(5deg);
    width: 100%;
    height: 20%;
    top: 71%;
    position: absolute;
  }

  .color-overlay-reversed {
    background-color: rgba(0, 130, 195, 0.3);
    -ms-transform: skewY(-5deg); /*IE9*/
    -webkit-transform: skewY(-5deg); /*Safari*/
    transform: skewY(-5deg);
    width: 100%;
    height: 12%;
    top: 80%;
    position: absolute;
  }

  .card-body.bgImageOne {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
                rgba(0,0,0,0.3) url('images/runner.jpg') no-repeat;
      background-size: cover;
  }

  .card-body.bgImageTwo {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
                rgba(0,0,0,0.3) url('images/karate.jpg') no-repeat center;
      background-size: cover;
  }

  .card-body.bgImageThree {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
                rgba(0,0,0,0.3) url('images/tent.jpg') no-repeat;
      background-size: cover;
  }

  .card-body.bgImageFour {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
                rgba(0,0,0,0.3) url('images/mountainbike.jpg') no-repeat;
      background-size: cover;
  }

  .enlarge {
    transition: none;
  }

  .enlarge:hover {
    transform: none;
  }
}



/* button css */

.placeButton {
  margin-left: 15px;
  margin-top: -20px;
}

.st-btn,
.st-btn:after,
.st-btn:before {
  box-sizing: border-box
}
.st-btn{
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 10px 35px;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: "Roboto Condensed",Helvetica,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase
}
.st-btn.disabled {
  cursor: not-allowed;
  opacity: .5;
  box-shadow: none!important
}
.st-btn:active:not(.disabled):before {
  display: none
}
.st-btn.st-btn-left:after,
.st-btn.st-btn-right:after {
  position: absolute;
  display:inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  line-height: 1;
  font-family: Material-Design-Iconic-Font;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased
}
.st-btn:active,
.st-btn:hover {
  text-decoration: none;
  outline: 0
}
.st-btn:hover:not(.disabled):before {
  z-index: -1;
  width: 100%!important;
  transform: none!important
}

.st-btn.st-btn-left:before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: "";
  background: #fff;
  opacity: .8
}
.st-btn.st-btn-left:after {
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%)
}
.st-btn.st-btn-left {
  padding: 10px 35px 10px 51px
}
.st-btn.st-btn-left:before {
  left: 0;
  transform: skew(10deg);
  transform-origin: 0 100% 0
}
.st-btn.st-btn-left:after {
  left: 12px;
  content: ""
}

.st-btn.st-btn-right:before {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  content: "";
  background: #fff;
  opacity: .8
}
.st-btn.st-btn-right:after {
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%)
}
.st-btn.st-btn-right {
  padding: 10px 51px 10px 35px
}
.st-btn.st-btn-right:before {
  right: 0;
  transform: skew(-10deg);
  transform-origin: 100% 100% 0
}
.st-btn.st-btn-right:after {
  right:12px;
  content:">"
}

.st-btn.st-btn-yellow {
  background:linear-gradient(#fef63a 0,#eec423 100%);
  box-shadow:rgba(0,0,0,.0901961) 0 1px 2px 0
}
.st-btn.st-btn-yellow:hover {
  box-shadow:rgba(0,0,0,.117647) 0 1px 2px 0
}
.st-btn.st-btn-yellow:active:not(.disabled) {
  background:#eec423;
  box-shadow:none
}
.st-btn.st-btn-yellow,
.st-btn.st-btn-yellow:active,
.st-btn.st-btn-yellow:hover {
  color:#393939
}
.st-btn.st-btn-yellow::before {
  opacity:.3
}

.st-btn.st-btn-left.st-btn-small:after,
.st-btn.st-btn-right.st-btn-small:after {
  font-size: 18px
}
.st-btn.st-btn-left.st-btn-small:after {
  left: 9px
}
.st-btn.st-btn-small {
  font-size: 14px
}
.st-btn.st-btn-small.st-btn-left {
  padding: 5px 25px 5px 37px
}
.st-btn.st-btn-small.st-btn-right {
  padding: 5px 37px 5px 25px
}
.st-btn.st-btn-small:before {
  width: 26px
}
.st-btn.st-btn-right.st-btn-small:after {
  right: 9px
}
